.form-section {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3120fe;
  padding: 40px 70px;
}
.text h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.text {
  flex: 1;
}

form{
  text-align: center;
}

form input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  height: 54px;
  margin-bottom: 40px;
  padding: 15px;
  color: white;
}

textarea {
  background: none;
  border: none;
  border: 1px solid white;
  width: 100%;
  height: 140px;
  margin-bottom: 40px;
  padding: 15px;
  color: white;
}

.textarea {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.inputs label {
  color: white;
}
@media (min-width: 768px){
  .form-section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: #3120fe;
    padding: 45px 200px;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .name,
  .email {
    width: 255px;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .request {
    width: 100%;
    text-align: center;
  }
  .request textarea {
    width: 595px;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
}


@media (min-width: 1024px) {

  .form-section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 115px;
    background-color: #3120fe;
    padding: 45px 230px;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .name,
  .email {
    width: 350px;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .request {
    width: 100%;
    text-align: center;
  }
  .request textarea {
    width: 940px;
  }
  .btn {
    width: 100%;
    text-align: center;
  }
}
