footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons {
  width: 250px;
  display: flex;
  justify-content: center;
}

.material-icons,
.mat-icon {
  cursor: pointer;
  font-size: 38px;
  height: 50px;
  width: 50px;
  color: #1400fe;
}
