<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>Tech Solutions</span>
      <h1>
        Tecnologia que Transforma, <br />
        Soluções que Impressionam.
      </h1>
    </div>
    <img ngSrc="/assets/image-main.png" width="523" height="523" />
  </section>
  <section class="information-top">
    <div class="information-data">
      <h2>
        90% das <br />
        empresas
      </h2>
    </div>
    <p>
      que adotam tecnologias adequadas experimentam <b>melhorias</b> na
      produtividade, na eficiência operacional e na capacidade de inovação.
    </p>
  </section>
  <section class="cta-section">
    <contact-btn btn-text="Fale com nosso especialista"></contact-btn>
  </section>
  <formulario-email></formulario-email>
</main>
