main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0, 75px;
  width: 100%;
  height: 100%;
}

.main-section span {
  display: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Expletus Sans", sans-serif;
  color: #1400fe;
}

.main-section h1 {
  font-size: 38px;
  font-weight: 700;
  font-family: "Expletus Sans", sans-serif;
  color: #0f0f0f;
}

.information-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 105px;
}

.information-data h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0f0f0f;
}
.information-top p {
  font-size: 14px;
  font-weight: 400;
  color: #0f0f0f;
  width: 210px;
}

b {
  font-size: 18px;
  font-weight: 700;
  background: -webkit-linear-gradient(180deg, #5041f5, #1400fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.end-cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.end-cta-section h5 {
  font-size: 28px;
  font-weight: 700;
}

.img-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.imgs p {
  font-size: 16px;
  font-weight: 400;
  color: #0f0f0f;
}

.imgs h4 {
  margin: 15px 0;
  font-size: 28px;
  font-weight: 700;
}

.img-section img {
  width: 310px;
}

.text {
  width: 310px;
}

.main-section img{
  width: 223px;
  height: 223px;
}

.headline{
  margin-top: 1.5rem;
  text-align: center;
}

.information-data {
  border-top: 10px solid #1400fe;
  padding-bottom: 20px;
  border-radius: 5px;
}



/*tela de pc*/

@media (min-width: 1024px) {
  .main-section h1 {
    font-size: 54px;
    font-weight: 700;
    font-family: "Expletus Sans", sans-serif;
    color: #0f0f0f;
  }
  b {
    font-size: 28px;
    font-weight: 700;
    background: -webkit-linear-gradient(180deg, #5041f5, #1400fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .main-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0px 100px;
  }
  .img-section img {
    width: 410px;
  }
  .main-section img{
    width: 523px;
    height: 523px;
  }
  
  .text {
    width: 510px;
  }
  .information-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 205px;
  }
  
  .information-top p {
    font-size: 26px;
    font-weight: 400;
    color: #0f0f0f;
    width: 720px;
  }
  .information-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 205px;
    gap: 90px;
  }
  .information-data {
    border-top: none;
    border-bottom: 10px solid #1400fe;
    padding-bottom: 20px;
    border-radius: 5px;
  }
  
  .img-section {
    padding: 15px 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
