<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>Tech Solutions</span>
      <h1>
        Tecnologia que Transforma, <br />
        Soluções que Impressionam.
      </h1>
    </div>
    <img ngSrc="/assets/image-main.png" width="523" height="523" />
  </section>
  <section class="information-top">
    <div class="information-data">
      <h2>
        90% das <br />
        empresas
      </h2>
    </div>
    <p>
      que adotam tecnologias adequadas experimentam <b>melhorias</b> na
      produtividade, na eficiência operacional e na capacidade de inovação.
    </p>
  </section>
  <section class="cta-section">
    <contact-btn btn-text="Fale com nosso especialista"></contact-btn>
  </section>
  <formulario-email></formulario-email>
  <section class="img-section">
    <div class="imgs">
      <img src="./assets/software-personalizado.png" alt="" />
      <div class="text">
        <h4>Software Personalizado</h4>
        <p>
          Na TechSolutions, criamos soluções de software personalizadas para
          atender às necessidades únicas de cada empresa, abrangendo desde
          sistemas eficientes até plataformas web inovadoras e aplicativos
          móveis intuitivos.
        </p>
      </div>
    </div>
    <div class="imgs">
      <img src="./assets/suporte.png" alt="" />
      <div class="text">
        <h4>Suporte e Manutenção</h4>
        <p>
          Na TechSolutions, garantimos operações ininterruptas com suporte
          proativo e manutenção eficiente. Monitore, resolva problemas e
          atualize para máxima eficiência e segurança contínua.
        </p>
      </div>
    </div>
  </section>
  <section class="end-cta-section">
    <h5>Pronto para transformar suas ideias em realidade?</h5>
    <contact-btn btn-text="Fale com nosso especialista"></contact-btn>
  </section>
  <app-footer></app-footer>
</main>
