.form-section {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3120fe;
  padding: 40px 70px;
}

form label {
  color: white;
}
.text h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.text p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.text {
  flex: 1;
}

form{
  margin-top: 2rem;
  text-align: center;
}

form input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  height: 54px;
  margin-bottom: 40px;
  padding: 15px;
  color: white;
}

.inputs label {
  color: white;
}

@media (min-width: 768px){
  .form-section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    background-color: #3120fe;
    padding: 25px 110px;
    text-align: center;
  }
  .btnStyle{
    width: 100%;
    text-align: center;
  }

  
  .text h3 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
  }
  
  .text p {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .styleTablet{
    display: flex;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .name,
  .email {
    width: 285px;
  }
  form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 244px;
    height: 52px;
    margin-bottom: 40px;
    padding: 5px;
    color: white;
  }
  
  form label {
    color: white;
  }
}

@media (min-width: 1024px)  {
  .form-section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 115px;
    background-color: #3120fe;
    padding: 45px 230px;
  }
  .text {
    flex: 1;
  }

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    padding: 5px;
    color: white;
  }
  .email, .nome{
    width: 100%;
  }
  
  form label {
    color: white;
  }
}
